<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bload.forum.dao.UserNotifyReadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.bload.forum.model.UserNotifyRead">
        <id column="user_notify_read_id" property="userNotifyReadId" />
        <result column="user_notify_id" property="userNotifyId" />
        <result column="user_id" property="userId" />
        <result column="read_time" property="readTime" />
    </resultMap>


    <insert id="readNotifyByIds">
        insert forum_user_notify_read
        ( user_notify_id,user_id,read_time )
        values
        <foreach collection="ids" item="id" separator=",">
            (#{id},#{userId},now())
        </foreach>
    </insert>

</mapper>
